:root {

   --pizazz-50: #fffbec;
   --pizazz-100: #fff6d3;
   --pizazz-200: #ffe9a5;
   --pizazz-300: #ffd86d;
   --pizazz-400: #ffbc32;
   --pizazz-500: #ffa50a;
   --pizazz-600: #ff9000;
   --pizazz-700: #cc6a02;
   --pizazz-800: #a1520b;
   --pizazz-900: #82440c;
   --pizazz-950: #462104;

   --capra-ramp-1: #ffc400;
   --capra-ramp-2: #ff9100;
   --capra-ramp-3: #ff530f;
   --capra-ramp-4: #e62c6d;
   --capra-ramp-5: #b25aff;


   --color-primary: var(--pizazz-600);
   --color-primary-light: var(--pizazz-400);
   --color-primary-dark: var(--pizazz-800);

   --color-white: #FFFFFF;
   --color-black: #000000;
   --color-gray: #fffc;
   --color-error: var(--capra-ramp-4);

   --color-bg: var(--color-black);
   --color-text: var(--color-white);
   --color-border: #1c1c1ccc;

   --text-xs:  0.75rem;     /* 12px */
   --text-sm:  0.875rem;    /* 14px */
   --text-md:  1rem;        /* 16px */
   --text-lg:  1.125rem;    /* 18px */
   --text-xl:  1.25rem;     /* 20px */
   --text-2xl: 1.5rem;      /* 24px */
   --text-3xl: 1.875rem;    /* 30px */
   --text-4xl: 2.25rem;     /* 36px */
   --text-5xl: 3rem;        /* 48px */
   --text-6xl: 3.75rem;     /* 60px */
   --text-7xl: 4.5rem;      /* 72px */
   --text-8xl: 6rem;        /* 96px */
   --text-9xl: 8rem;        /* 128px */
   --text-10xl: 10rem;      /* 160px */

   --font-light: 300;
   --font-normal: 400;
   --font-medium: 500;
   --font-semibold: 600;
   --font-bold: 700;
   --font-extrabold: 800;


   --leading-tight: 1.1;
   --leading-snug: 1.25;
   --leading-normal: 1.5;
   --leading-relaxed: 1.7;


   --space-2xs: 0.125rem;  /* 2px */
   --space-xs: 0.25rem;    /* 4px */
   --space-sm: 0.5rem;     /* 8px */
   --space-md: 0.75rem;    /* 12px */
   --space-lg: 1rem;       /* 16px */
   --space-xl: 1.5rem;     /* 24px */
   --space-2xl: 2rem;      /* 32px */
   --space-3xl: 3rem;      /* 48px */
   --space-4xl: 4rem;      /* 64px */


   --radius-sm: 0.25rem;
   --radius-md: 0.5rem;
   --radius-lg: 0.75rem;
   --radius-xl: 1rem;
   --radius-full: 9999px;


   --border-width: 1px;
   --border-color: var(--color-gray-200);


   --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
   --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
   --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.12);


   --transition-fast: 150ms ease;
   --transition-normal: 250ms ease;
   --transition-slow: 350ms ease;

}